{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'main/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}">

    <meta charset="UTF-8">
    <title>Diary- Create</title>
</head>

<body>
    <div class="nav-container">
        <h1>
            My Diary APP
        </h1>
    </div>

    <div class="main-container">
        <div class="head-container">
            <h1 style="margin-bottom: 30px;">
                <img src="{% static 'images/favicon.svg' %}" 
                     style="max-height: 80px; float: right; margin: 10px; opacity: 0.7;">
                User: {{ request.user.username }}
            </h1>
            <h2> - create new diary</h2>
        </div>

        <form method="post">
            {% csrf_token %}        
            {{ form.media }}
            {{ form.as_p }}

            <button type="submit" class="submit-input" style="padding: 10px; color:#574f4c;">
                Create
            </button><br><br>
            
            <a href="{% url 'main:index' %}">Go Home</a>
        </form>
    </div>
</body>

</html>