{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'main/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}">
    
    <meta charset="UTF-8">
    <title>Diary- Home</title>
</head>

<body>
    <div class="nav-container">
        <h1>
            My Diary APP
        </h1>
    </div>

    <div class="main-container">
        <div class="head-container">
            <h1>
                <img src="{% static 'images/favicon.svg' %}" class="main-icon">
                User: {{ request.user.username }}
            </h1>
    
            <form method="get">
                <input class="submit-input" type="text" name="search-area" placeholder=" Search title">
                <button class="submit-button" type="submit">Search</button>
            </form>
        </div>

        <div class="diary-container">
            {% for diary in diarys %}
            <div>
                <h2 class="color-mark" id="color_mark_{{ forloop.counter }}">
                    {{diary.color}}
                </h2>

                <h2 id="created_time_{{ forloop.counter }}">
                    {{ diary.created }}
                </h2>
            </div>

            <h2>
                - {{ diary.title }}
            </h2>
            
            <a href = "{% url 'main:update' diary.id %}">View / Update</a>
            <a href = "{% url 'main:delete' diary.id %}">Delete</a>

            <hr>

            {% empty %}
            <h2>
                No diary found
            </h2>
            <br>
            {% endfor %}

            <a href = "{% url 'main:create' %}">Create Diary</a>
            <a href = "{% url 'main:index' %}">View all diary</a>
            <a href = "{% url 'main:signout' %}">Logout</a>

        </div>
    </div>

    <script>
        // timezone handle
        var options = { weekday: 'long', year: 'numeric', month: 'numeric', day: 'numeric',
                        month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'};
        var count = 0;
        var year = 0, month = 0, day = 0, hour = 0, minute = 0;
        var created_time, formatted_time
        var offset = new Date().getTimezoneOffset() / 60 // convert from sec to hour

        while(true){
            count += 1;
            try{
                created_time = document.getElementById("created_time_" + count).innerHTML;
                year = parseInt(created_time.substr(21, 4));
                month = parseInt(created_time.substr(26, 2));
                day = parseInt(created_time.substr(29, 2));
                hour = parseInt(created_time.substr(32, 2));
                minute = parseInt(created_time.substr(35, 2));

                processed_time = new Date(year, month - 1, day, hour, minute);
                processed_time.setHours(hour - offset);
                formatted_time = processed_time.toLocaleTimeString("en-US", options);

                console.log("-" + year + "-" + month + "-" + day + "-" + hour + "-" + minute + "-");
                console.log(processed_time);
                console.log(formatted_time);
                console.log("");

                document.getElementById("created_time_" + count).innerHTML = formatted_time;

            }catch{
                break;
            }
        }

        // color mark handle
        var count = 0;
        var color, color_object;

        while(true){
            count += 1;
            try{
                color = document.getElementById("color_mark_" + count).innerHTML;
                color_object = document.getElementById("color_mark_" + count);

                color_object.style.backgroundColor = color;
                color_object.innerHTML = "";
                console.log(color)
            }catch{
                break;
            }
        }
    </script>
</body>

</html>