{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'main/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}">

    <meta charset="UTF-8">
    <title>Signup</title>
</head>

<body>
    <div class="nav-container">
        <h1>
            My Diary APP
        </h1>
    </div>

    <div class="main-container">
        <div class="head-container">
            <h1>
                <img src="{% static 'images/favicon.svg' %}" class="main-icon">
                User: N/A
            </h1>
            <h2>
                - Signup here
            </h2>
        </div>

        <div class="diary-container">
            <form method="post">
                {% csrf_token %}

                {% if error %}
                <h2 class="error">
                    Error: {{ error }}
                </h2>
                {% endif %}

                <h1>
                    Username:
                </h1>
                <input type="text" name="username" class="submit-input">

                <h1>
                    Password:
                </h1>
                <input type="password" name="password" class="submit-input">
                
                <h1>
                    Password comfirm:
                </h1>
                <input type="password" name="re_password" class="submit-input">
                
                <br>
                <button type="submit" class="submit-button">Signup</button>

                <br><br><br>
                <a href = "{% url 'main:signin' %}">Go Back</a>

            </form>
        </div>
    </div>
</body>

</html>