{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'main/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}">

    <meta charset="UTF-8">
    <title>Diary- Update</title>
</head>

<body>
    <div class="nav-container">
        <h1>
            My Diary APP
        </h1>
    </div>

    <div class="main-container">
        <div class="head-container">
            <h1>
                <img src="{% static 'images/favicon.svg' %}" class="main-icon">
                User: {{ request.user.username }}
            </h1>
            <h2>
                 -  view / update diary
                 <div style="height: 20px; width: 20px; border-radius: 15px; float: right;
                            margin-right: 180px; margin-top: 6px;
                            background-color: rgb{{ diary.color }};">
                </div>
            </h2>
        </div>

        <div class="diary-container">
            <form method="post">
                {% csrf_token %}        
                {{ form.media }}
                {{ form.as_p }}

                <select name="color">
                    <option value="{{ diary.color }}">
                        Change Color
                    </option>

                    {% for color in colors %}
                    <option value="{{ color.color }}" 
                            style="background-color: rgb{{ color.color }};">
                        {{ color.name }} 
                    </option>
                    {% endfor %}
                </select>
                <br>
    
                <button type="submit" class="submit-button">Update</button>
                <br>
                <a href="{% url 'main:index' %}">Go Home</a>
            </form>
        </div>
    </div>
</body>

</html>